/* structure */ 

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'home' 'search' 'setting' 'store';
    justify-content: center;
    text-align: center;
}

.home {
    grid-area: 'home';

}

.search {
    grid-area: 'search';

}

.setting {
    grid-area: 'setting';

}

.store{ 
    grid-area: 'store'; 

}

