/*universal styles */ 

html {
  font-size: 18px;
}

* {
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: normal;

}

/* structure of the page */

.app {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 3fr 100px;
  grid-template-areas:  'header'
                        'feed'
                        'footer';
  text-align: center;
  justify-content: center;

}

.header {
  grid-area: 'header';
  background-color: blue;

}

.feed {
  grid-area: 'feed';
  background-color: grey;

}

.footer {
  grid-area: 'footer';
  background-color: red;

}

