/*universal styles */ 

html {
  font-size: 18px;
}

* {
  font-size: 1rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 10px;

}

/* structure of the page */

.App {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100px 600px 100px;
  grid-template-areas:  'header'
                        'feed'
                        'footer';
  text-align: center;
  justify-content: center;
 

}

.header {
  grid-area: 'header';
  background-color: blue;

}

.feed {
  grid-area: 'feed';
  background-color: grey;

}

.footer {
  grid-area: 'footer';
  background-color: red;

}

